@import './variables.css';
@import './base.css';
@import './layout.css';
@import './sidebar.css';
@import './components.css';
@import './responsive.css';
@import './Cursos/courses.css';
@import './Cursos/topic.css';
@import './Cursos/courseShow.css';
@import './Ajustes/modal.css';
@import './Ajustes/table.css';
@import './billing.css';
<<<<<<< HEAD
@import './Mi_Informacion/clases.css';
@import './Mi_Informacion/horario.css';
@import './Mi_Informacion/historial_academico.css';
@import './Control Admin/base.css';
@import './ControlEsc/base.css';
=======
>>>>>>> parent of 0358ee6 (Fix: Reemplazo forzoso de Proyecto)
